<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ef201b7b-3dc2-46e9-8fd5-f12d89821e0c" Publisher="CN=biac" Version="1.0.0.0" />
  <Properties>
    <DisplayName>FontFamilyTest</DisplayName>
    <PublisherDisplayName>biac</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FontFamilyTest.App">
      <VisualElements DisplayName="FontFamilyTest" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="FontFamilyTest" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>