<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add 
      name="ASPCS3T" 
      connectionString="Data Source=Edson-PC;Initial Catalog=AspNet_CSharp_3T;User ID=bryan; Password=123"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>