
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="list" data-bind="if:canCreate">
<h2>Tasks</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>描述</th>
                <th>负责人</th>
                <th>创建时间</th>
                <th>完成时间</th>
                <th>状态</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach:tasks">
            <tr>
                <td data-bind="text: id"></td>
                <td><a data-bind="text: name, click: handleCreateOrUpdate"></a></td>
                <td data-bind="text: description"></td>
                <td data-bind="text: owner"></td>
                <td data-bind="text: creationTime"></td>
                <td data-bind="text: finishTime"></td>
                <td data-bind="text: state"></td>
                <td><a class="btn btn-xs btn-primary" data-bind="click:remove" href="javascript:void(0)">Remove</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-sm-4">
    <a href="javascript:void(0)" data-bind="click: function(data, event){ setTaskList('all') }">All </a> |
    <a href="javascript:void(0)" data-bind="click: function(data, event){ setTaskList('active') }"> Active</a> |
    <a href="javascript:void(0)" data-bind="click: function(data, event){ setTaskList('completed') }"> Completed</a>
</div>
<div class="col-sm-2 col-sm-offset-6">
    <a href="javascript:void(0)" data-bind="click: handleCreateOrUpdate">添加任务</a>
</div>
</div>

<div id="create" style="visibility: hidden">
    <h2>添加任务</h2>
    <br/>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="taskName" class="col-sm-2 control-label">名称 *</label>
            <div class="col-sm-10">
                <input type="text" data-bind="value: name" class="form-control" id="taskName" name="taskName" placeholder="名称">
            </div>
        </div>
        <div class="form-group">
            <label for="taskDesc" class="col-sm-2 control-label">描述</label>
            <div class="col-sm-10">
                <textarea class="form-control" data-bind="value: description" rows="3" id="taskDesc" name="taskDesc" placeholder="描述"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="taskOwner" class="col-sm-2 control-label">负责人 *</label>
            <div class="col-sm-10">
                <input class="form-control" id="taskOwner" name="taskOwner" data-bind="value: owner" placeholder="负责人">
            </div>
        </div>
        <div class="form-group">
            <label for="taskFinish" class="col-sm-2 control-label">预计完成时间 *</label>
            <div class="col-sm-10">
                <input class="form-control datepicker" id="taskFinish" data-bind="value: finishTime" name="taskFinish">
            </div>
        </div>
        <div class="form-group">
            <label for="taskOwner" class="col-sm-2 control-label">状态 *</label>
            <div class="col-sm-10">
                <select id="taskState" class="form-control" data-bind="value: state">
                    <option>Active</option>
                    <option>Completed</option>
                </select>
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" data-bind="click:handleSaveClick">Save</button>
                <button data-bind="click: handleBackClick" class="btn btn-primary">Back</button>
            </div>
        </div>
    </div>
</div>