@model DotNet.Highcharts.Highcharts

@{
    ViewBag.Title = "Highcharts Examples";
}

<div class="jumbotron">
    <h3>DotNet Highcharts Example in Asp.Net MVC</h3>
    <p><a href="http://dotnet.highcharts.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div>

        <div class="col-md-12 col-md-6">
            @(Model)
        </div>
    </div>
</div>